services:
  - type: web
    name: escape-room-telegram
    runtime: docker
    repo: https://github.com/Itamarabir1/escape-room-telegram
    plan: free
    # מחבר את כל המשתנים שהגדרת בקבוצה ב-Render (כולל ה-Token)
    envVarGroups:
      - name: escape-room-secrets
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: escape-room-telegram-postgres
          property: connectionString
      - key: REDIS_URL
        fromService:
          name: escape-room-telegram-redis
          type: keyvalue
          property: connectionString

  - type: keyvalue
    name: escape-room-telegram-redis
    plan: free

databases:
  - name: escape-room-telegram-postgres
    plan: free
    databaseName: escape_room_db