services:
  - type: web
    name: escape-room-telegram
    runtime: docker
    repo: https://github.com/Itamarabir1/escape-room-telegram
    plan: free
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: escape-room-telegram-postgres
          property: connectionString
      - key: REDIS_URL
        fromService:
          name: escape-room-telegram-redis
          type: keyvalue
          property: connectionString
      # כאן התיקון: משיכת ה-Token מתוך הקבוצה שיצרת
      - key: TELEGRAM_TOKEN
        fromGroup: escape-room-secrets

  - type: keyvalue
    name: escape-room-telegram-redis
    plan: free

databases:
  - name: escape-room-telegram-postgres
    plan: free
    databaseName: escape_room_db