services:
  - type: web
    name: escape-room-telegram
    runtime: docker
    repo: https://github.com/Itamarabir1/escape-room-telegram
    plan: free
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: escape-room-telegram-postgres
          property: connectionString
      - key: REDIS_URL
        fromService:
          name: escape-room-telegram-redis
          type: keyvalue
          property: connectionString
      # כאן התיקון למשתנה מהקבוצה - בלי המילה key
      - fromGroup: escape-room-secrets

  - type: keyvalue
    name: escape-room-telegram-redis
    plan: free
    # כאן התיקון ל-Redis - מאפשר גישה לשירותים שלך
    ipAllowList:
      - source: 0.0.0.0/0
        description: everywhere

databases:
  - name: escape-room-telegram-postgres
    plan: free
    databaseName: escape_room_db